In [1]:
import pandas as pd

In [2]:
# Import stats
FILE = 'cleaned_stats.csv'

In [4]:
df = pd.read_csv(FILE)

In [5]:
df

     dimension  rand_degree heuristic function    time       steps
0            3            5                 h1     7.0       5.415
1            3            5                 h1     5.0       1.665
2            3            5                 h1     7.0       4.130
3            3            5                 h1     5.0       0.935
4            3            5                 h1     6.0       1.495
5            3            5                 h1     5.0       0.970
6            3            5                 h1     7.0       3.255
7            3            5                 h1     5.0       1.895
8            3            5                 h1     6.0       2.375
9            3            5                 h1     5.0       0.615
10           4            5                 h1     7.0       2.530
11           4            5                 h1     6.0       1.845
12           4            5                 h1     5.0       1.270
13           4            5                 h1     6.0       1.460
14           4            5                 h1     5.0       1.265
15           4            5                 h1     5.0       2.170
16           4            5                 h1     5.0       1.840
17           4            5                 h1     5.0       1.510
18           4            5                 h1     6.0       1.755
19           4            5                 h1     8.0       2.760
20           5            5                 h1     5.0       1.880
21           5            5                 h1     6.0       2.885
22           5            5                 h1     6.0       3.840
23           5            5                 h1     5.0       1.955
24           5            5                 h1     7.0       3.185
25           5            5                 h1     5.0       2.465
26           5            5                 h1     5.0       2.205
27           5            5                 h1     5.0       2.215
28           5            5                 h1     5.0       2.220
29           5            5                 h1     5.0       1.970
..         ...          ...                ...     ...         ...
150          3           15                 h2  3126.0   14129.215
151          3           15                 h2   372.0     239.870
152          3           15                 h2     NaN   36274.600
153          3           15                 h2   123.0      33.730
154          3           15                 h2     NaN   36050.245
155          3           15                 h2   678.0     736.295
156          3           15                 h2  3541.0   17574.980
157          3           15                 h2    91.0      19.450
158          3           15                 h2  2426.0    8513.890
159          3           15                 h2  2767.0   10603.735
160          4           15                 h2     NaN   73846.115
161          4           15                 h2  1881.0   10048.600
162          4           15                 h2  2025.0   12244.220
163          4           15                 h2  3671.0   35081.060
164          4           15                 h2   440.0     661.060
165          4           15                 h2  4328.0   54724.730
166          4           15                 h2  4686.0   64392.510
167          4           15                 h2     NaN   72418.555
168          4           15                 h2     NaN   76259.330
169          4           15                 h2   604.0    1139.445
170          5           15                 h2    15.0       4.415
171          5           15                 h2  4489.0  133555.685
172          5           15                 h2  2879.0   46979.990
173          5           15                 h2     NaN  171522.005
174          5           15                 h2    15.0       4.800
175          5           15                 h2  3561.0   66998.245
176          5           15                 h2     NaN  141489.190
177          5           15                 h2     NaN  174450.440
178          5           15                 h2     NaN  152272.365
179          5           15                 h2   846.0    4262.140

[180 rows x 5 columns]

In [9]:
df.describe()

        dimension  rand_degree         time          steps
count  180.000000   180.000000   146.000000     180.000000
mean     4.000000    10.000000   570.753425   23449.596833
std      0.818774     4.093871  1103.705749   45984.324971
min      3.000000     5.000000     5.000000       0.540000
25%      3.000000     5.000000     5.000000       2.106250
50%      4.000000    10.000000    10.000000      33.195000
75%      5.000000    15.000000   472.250000   19023.720000
max      5.000000    15.000000  4686.000000  175237.310000